<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Artículo 1</title>
    <link rel="stylesheet" href="mistilo.css">
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
  </head>
  <body>
    <center>
      <img src="cuadro2.png" alt="Downtown" height="400" width="450">
      <p>D O W N T O W N</p>
      <p>Fotografia realizada por Ojkkkr; composicion realizada por Ojkkkr</p>
      <p>
        Price 35 €
        <p>
          <i class='fab fa-cc-paypal'></i>
          <i class='fab fa-cc-visa'></i>
          <i class='fab fa-cc-mastercard'></i>
        </p>
      </p>
      <a href="index.html"><button>Página principal</button></a>
    </center>
    <p>
      <div class="footer">
        <i class='far fa-copyright'> 2019    O G A LL E RY</i>
      </div>
    </p>
  </body>
</html>
