<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>O-GALLERY</title>
    <link rel="stylesheet" href="mistilo.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>
  <body>
    <center>
      <img src="ogallery_logo.png" alt="logo de node.js" height="200" width="200">
      <p>WELCOME   2   THE   O-GALLERY</p>
      <p> Bienvenido {{user}} </p>
      <p>
        <div class = "header">
          <div class="topnav">
            <a href="art1.html">ART. 1</a>
            <a href="art2.html">ART. 2</a>
            <a href="art3.html">ART. 3</a>
          </div>
        </div>
      </p>

      <img src="cuadro1.png" alt="cuadro1.js" height="300" width="350">
      <p>
        <a href="art1.html"><button>ART. 1</button></a>
      </p>
      <img src="cuadro2.png" alt="cuadro2.js" height="300" width="350">
      <p>
        <a href="art2.html"><button>ART. 2</button></a>
      </p>
      <img src="cuadro3.png" alt="cuadro3.js" height="300" width="350">
      <p>
        <a href="art3.html"><button>ART. 3</button></a>
      </p>
    </center>
    <div class="footer">
        <i class='far fa-copyright'> 2019    O G A LL E RY</i>
    </div>
  </body>
</html>
