{% load staticfiles %}


<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>1995Brand</title>
    <link rel="stylesheet" href="{% static 'mi-css.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  </head>

  <body>
    <center>
      <img src="/static/logo.png" alt="LOGO" height="100" width="300">
      <div class="topnav">
          <a href="shirts.html">Shirts</a>
          <a>//</a>
          <a href="hoodies.html">Hoodies</a>
          <a>//</a>
          <a href="accessories.html">Accessories</a>
      </div>
    </center>
      <div>
          <a href="shirts.html">
            <p class="Tittle">S H I R T S</p>
          </a>
          <center>
            <a href="shirts.html"><button>
                <img src="/static/shirt1.png" alt="product1.js" style="width:200px;height:400px">
            </button></a>
            <a href="shirts.html"><button>
              <img src="/static/shirt2.png" alt="product2.js" style="width:200px;height:400px">
            </button></a>
          </center>
      </div>
      <div>
        <a href="hoodies.html">
          <p class="Tittle">H O O D I E S</p>
        </a>
        <center>
          <a href="hoodies.html"><button>
            <img src="/static/hoodie1.png" alt="product3.js" style="width:200px;height:400px">
          </button></a>
          <a href="hoodies.html"><button>
            <img src="/static/hoodie2.png" alt="product4.js" style="width:200px;height:400px">
          </button></a>
        </center>
      </div>
      <div>
        <a href="accessories.html">
          <p class="Tittle">A C C E S S O R I E S</p>
        </a>
        <center>
          <a href="accessories.html"><button>
            <img src="/static/hat.png" alt="product5.js" style="width:200px;height:400px">
          </button></a>
        </center>
      </div>
    <div class="footer">
        <i class='far fa-copyright'> 2019    1 9 9 5  B R A N D </i>
    </div>
  </body>
</html>
